{{!-- terms.hbs --}}
{{!-- Copyright (c) 2026 Ishan Pranav --}}

<div class="row g-5">
    <div class="col-md-4">
        <nav class="align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#title">{{title}}</a>
                <a class="nav-link ms-3 my-1"
                   href="#intellectual-property">Intellectual property</a>
                <a class="nav-link ms-3 my-1"
                   href="#links-to-other-websites">Links to other websites</a>
                <a class="nav-link ms-3 my-1"
                   href="#limitation-of-liability">Limitation of liability</a>
                <a class="nav-link ms-3 my-1" href="#indemnity">Indemnity</a>
                <a class="nav-link ms-3 my-1" href="#applicable-law">Applicable
                    law</a>
                <a class="nav-link ms-3 my-1"
                   href="#severability">Severability</a>
                <a class="nav-link ms-3 my-1" href="#changes">Changes</a>
                <a class="nav-link ms-3 my-1" href="#contact-details">Contact
                    details</a>
            </nav>
        </nav>
    </div>
    <div class="col-md-8">
        <div id="title">
            <h2 class="text-primary fw-bold mb-3 fs-1">{{title}}</h2>
            <p>Last updated January 28, 2026.</p>
            <p>
                These terms and conditions of service (the &ldquo;Terms and
                Conditions&rdquo;) govern
                the use of <a href="{{url}}" class="icon-link">{{siteName}}</a>
                (the
                &ldquo;Site&rdquo;). This Site is owned and operated by
                {{legalName}}. This
                Site is a portfolio.
            </p>
            <p>
                By using this Site, you indicate that you have read and
                understand these
                Terms and Conditions and agree to abide by them at all
                times.
            </p>
        </div>
        <div id="intellectual-property">
            <h3 class="mt-4">Intellectual property</h3>
            <p>
                All content published and made available on our Site is the
                property of
                {{legalName}} and the Site&rsquo;s creators.
            </p>
            <p>
                This includes, but is not limited to images, documents,
                downloadable files
                and anything that contributes to the composition of our
                Site.
            </p>
        </div>
        <div id="links-to-other-websites">
            <h3 class="mt-4">Links to other websites</h3>
            <p>
                Our Site contains links to third party websites or services
                that we do not
                own or control.
            </p>
            <p>
                We are not responsible for the content, policies, or
                practices of any third
                party website or service linked to on our Site. It is your
                responsibility to
                read the terms and conditions and privacy policies of these
                third party
                websites before using these sites.
            </p>
        </div>
        <div id="limitation-of-liability">
            <h3 class="mt-4">Limitation of liability</h3>
            <p>
                {{legalName}} and our directors, officers, agents,
                employees, subsidiaries,
                and affiliates will not be liable for any actions, claims,
                losses, damages,
                liabilities and expenses including legal fees from your use
                of this Site.
            </p>
        </div>
        <div id="indemnity">
            <h3 class="mt-4">Indemnity</h3>
            <p>
                Except where prohibited by law, by using this Site you
                indemnify and hold
                harmless {{legalName}} and our directors, officers, agents,
                employees,
                subsidiaries, and affiliates from any actions, claims,
                losses, damages,
                liabilities and expenses including legal fees arising out of
                your use of our
                Site or your violation of these Terms and Conditions.
            </p>
        </div>
        <div id="applicable-law">
            <h3 class="mt-4">Applicable law</h3>
            <p>
                These Terms and Conditions are governed by the laws of the
                State of
                California.
            </p>
        </div>
        <div id="severability">
            <h3 class="mt-4">Severability</h3>
            <p>
                If at any time any of the provisions set forth in these
                Terms and Conditions
                are found to be inconsistent or invalid under applicable
                laws, those
                provisions will be deemed void and will be removed from
                these Terms and
                Conditions.
            </p>
            <p>
                All other provisions will not be affected by the removal and
                the rest of
                these Terms and Conditions will still be considered valid.
            </p>
        </div>
        <div id="changes">
            <h3 class="mt-4">Changes</h3>
            <p>
                These Terms and Conditions may be amended from time to time
                in order to
                maintain compliance with the law and to reflect any changes
                to the way we
                operate our Site and the way we expect users to behave on
                our Site.
            </p>
            <p>
                We will notify users by e-mail of changes to these Terms and
                Conditions or
                post a notice on our site.
            </p>
        </div>
        <div id="contact-details">
            <h3 class="mt-4">Contact details</h3>
            <p>
                Please contact us if you have any questions or concerns. Our
                contact details
                are as follows: <a href="mailto:{{email}}"
                   class="icon-link">{{email}}</a>.
            </p>
        </div>
    </div>
</div>